.btn{
  background: none;
  border: none;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  &--s{
    color: #333;
    font-size: 1.6rem;
    @media (min-width: 1010px){
      font-size: 2rem;
    }
  }
  &--remove-all{
    font-size: 1.4rem;
  }
  @media (min-width: 570px){
    font-size: 3rem;
  }
  &:hover{
    cursor: pointer;
  }
  i{
    margin-top: 25%;
  }
}
