.form{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
@media (min-width: 570px){
    width: 600px;
    justify-content: space-between;
  }
  &__input{
    background-color: #aaa;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    padding: 2px;
    width: 80%;
    @media (min-width: 570px){
      width: 90%;
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  &__error{
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem auto;
    width: 90%;
    @media (min-width: 570px){
      width: 600px;
      font-size: 1.3rem;
    }

    transform: translateX(-30px);
  }
}
