.header{
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 100%;
  @media (min-width: 1010px){
    width: 90%;
    font-size: 3rem;
  }
  padding: 1rem 0;
  animation-name: header-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes header-animation {
  0%{
    color: black;
  }
  20%{
    color: #014946;
  }
  40%{
    color: #01460a;
  }
  60%{
    color: #380080;
  }
  80%{
    color: #012fba;
  }
}
